In [1]:
import pandas as pd
import numpy as np
import datetime
from matplotlib.ticker import FuncFormatter
import matplotlib.pyplot as plt
import warnings
import math as ma
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', sheetname="CustomerDemographic")
df.head()

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
1,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11
2,2,Eli,Bockman,Male,81,1980-12-16 00:00:00,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16
3,3,Arlin,Dearle,Male,61,1954-01-20 00:00:00,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15
4,4,Talbot,NaN,Male,33,1961-10-03 00:00:00,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7

In [3]:
df.rename(columns={"Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only. ":"customer_id"}, inplace = True)
df.rename(columns={"Unnamed: 1":"fname",
                   "Unnamed: 2":"lname",
                   "Unnamed: 3":"gender",
                   "Unnamed: 4":"3y_bike_purchases",
                   "Unnamed: 5":"DOB",
                   "Unnamed: 6":"JT"}, inplace = True)
df.rename(columns={"Unnamed: 7":"Category",
                   "Unnamed: 8":"wealth_segement",
                   "Unnamed: 9":"D_Indicator",
                   "Unnamed: 10":"default",
                   "Unnamed: 11":"owns_car",
                   "Unnamed: 12":"tencure"}, inplace = True)
df=df.iloc[1:]
df

,customer_id,fname,lname,gender,3y_bike_purchases,DOB,JT,Category,wealth_segement,D_Indicator,default,owns_car,tencure
1,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11
2,2,Eli,Bockman,Male,81,1980-12-16 00:00:00,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16
3,3,Arlin,Dearle,Male,61,1954-01-20 00:00:00,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15
4,4,Talbot,NaN,Male,33,1961-10-03 00:00:00,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7
5,5,Sheila-kathryn,Calton,Female,56,1977-05-13 00:00:00,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8
6,6,Curr,Duckhouse,Male,35,1966-09-16 00:00:00,NaN,Retail,High Net Worth,N,ðµ ð ð ð,Yes,13
7,7,Fina,Merali,Female,6,1976-02-23 00:00:00,NaN,Financial Services,Affluent Customer,N,â°â´âµâââ,Yes,11
8,8,Rod,Inder,Male,31,1962-03-30 00:00:00,Media Manager I,NaN,Mass Customer,N,(â¯Â°â¡Â°ï¼â¯ï¸µ â»ââ»),No,7
9,9,Mala,Lind,Female,97,1973-03-10 00:00:00,Business Systems Development Analyst,Argiculture,Affluent Customer,N,0/0,Yes,8
10,10,Fiorenze,Birdall,Female,49,1988-10-11 00:00:00,Senior Quality Engineer,Financial Services,Mass Customer,N,ð©ð½,Yes,20
11,11,Uriah,Bisatt,Male,99,1954-04-30 00:00:00,NaN,Property,Mass Customer,N,ÅâÂ´Â®â Â¥Â¨ËÃ¸Ïââ,No,9
12,12,Sawyere,Flattman,Male,58,1994-07-21 00:00:00,Nuclear Power Engineer,Manufacturing,Mass Customer,N,nil,No,8
13,13,Gabriele,Norcross,Male,38,1955-02-15 00:00:00,Developer I,Financial Services,High Net Worth,N,-100,Yes,8
14,14,Rayshell,Kitteman,Female,85,1983-03-25 00:00:00,Account Executive,Financial Services,Affluent Customer,N,â°â´âµ,No,6
15,15,Erroll,Radage,Male,91,2000-07-13 00:00:00,Junior Executive,Manufacturing,Mass Customer,N,ð,No,1
16,16,Harlin,Parr,Male,38,1977-02-27 00:00:00,Media Manager IV,NaN,Mass Customer,N,1000000000000000049861653971908893017010268485...,Yes,18
17,17,Heath,Faraday,Male,57,1962-03-19 00:00:00,Sales Associate,NaN,Affluent Customer,N,ï¾ï½¥â¿ã¾â²(ï½¡ââ¿âï½¡)â±â¿ï½¥ï¾,Yes,15
18,18,Marjie,Neasham,Female,79,1967-07-06 00:00:00,Professor,NaN,Affluent Customer,N,Î©âÃ§ââ«ËÂµâ¤â¥Ã·,No,11
19,19,Sorcha,Keyson,Female,76,2001-04-15 00:00:00,Geological Engineer,Manufacturing,High Net Worth,N,ÅâÂ´â°ËÃÂ¨ËÃâââ,No,1
20,20,Basile,Firth,Male,72,1980-08-13 00:00:00,Project Manager,Manufacturing,Mass Customer,N,ð©ð½,No,11
21,21,Mile,Cammocke,Male,74,1980-09-20 00:00:00,Safety Technician I,Manufacturing,Affluent Customer,N,-100,Yes,16
22,22,Deeanne,Durtnell,Female,79,1962-12-10 00:00:00,NaN,IT,Mass Customer,N,ï¼ï¼ï¼,No,11
23,23,Olav,Polak,Male,43,1995-02-10 00:00:00,NaN,NaN,High Net Worth,N,2018-02-01 00:00:00,Yes,1
24,24,Kim,Skpsey,Female,55,1977-12-03 00:00:00,Research Assistant I,Argiculture,Mass Customer,N,../../../../../../../../../../../etc/hosts,Yes,15
25,25,Geoff,Assaf,Male,72,1976-12-02 00:00:00,Accounting Assistant III,Financial Services,Mass Customer,N,×Ö¸×Ö°×ªÖ¸×testØ§ÙØµÙØ­Ø§Øª Ø§ÙØªÙØ­ÙÙ,Yes,21
26,26,Trixi,Ginnelly,Female,12,1978-06-10 00:00:00,Editor,Financial Services,Mass Customer,N,"<>?:""{}|_+",Yes,16
27,27,Garvin,Klees,Male,37,1978-09-25 00:00:00,Research Nurse,Health,Mass Customer,N,"''''""",Yes,12
28,28,Fee,Zellmer,Male,5,1973-09-30 00:00:00,Senior Quality Engineer,Health,Affluent Customer,N,",./;'[]\-=",Yes,21
29,29,Mona,Sancraft,Female,62,1968-06-22 00:00:00,Safety Technician III,Manufacturing,Mass Customer,N,() { 0; }; touch /tmp/blns.shellshock1.fail;,No,19
30,30,Darrick,Helleckas,Male,18,1961-10-18 00:00:00,NaN,IT,Affluent Customer,N,ì¬íê³¼íì ì´íì°êµ¬ì,Yes,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3971,3971,Analise,Asbrey,Female,2,1979-01-14 00:00:00,Desktop Support Technician,Financial Services,High Net Worth,N,NaN,No,16
3972,3972,Maribelle,Schaffel,Female,6,1979-03-28 00:00:00,NaN,Retail,Mass Customer,N,Ì¦HÍÌ¬Ì¤ÌÌ¤eÍ ÍÌÌ¥ÌÌ»ÍÌwÌhÌÌ¯ÍoÌÍÌÍÌ±Ì® ÒÌºÌÌÌ...,No,8
3973,3973,Carolan,Jorez,Female,24,1963-07-13 00:00:00,Editor,Manufacturing,High Net Worth,N,ð¾ ð ð ð ð ð ð ð§,No,17
3974,3974,Misha,Ranklin,Female,82,1961-02-11 00:00:00,Technical Writer,NaN,Affluent Customer,N,1,Yes,9
3975,3975,Dianemarie,Kidgell,Female,2,1971-08-11 00:00:00,Administrative Assistant I,Entertainment,Affluent Customer,N,NIL,No,18
3976,3976,Gretel,Chrystal,Female,0,1957-11-20 00:00:00,Internal Auditor,NaN,Affluent Customer,N,"'""''''""",Yes,13
3977,3977,Katrinka,Van der Beken,Female,31,1965-08-21 00:00:00,Biostatistician II,Manufacturing,Mass Customer,N,ÅâÂ´Â®â Â¥Â¨ËÃ¸Ïââ,Yes,16
3978,3978,Kathlin,Robker,Female,4,1972-03-02 00:00:00,Developer II,Financial Services,Mass Customer,N,NIL,No,5
3979,3979,Kleon,Adam,Male,67,1974-07-13 00:00:00,NaN,Financial Services,Mass Customer,N,â¤ï¸ ð ð ð ð ð ð ð ð ð ð ð ð ð ð,Yes,18
3980,3980,Nils,McGebenay,Male,41,1964-01-16 00:00:00,Web Designer I,Manufacturing,Mass Customer,N,â¡,No,12
3981,3981,Konstance,Draye,Female,34,1994-09-10 00:00:00,Quality Control Specialist,Health,Mass Customer,N,ËÉnbá´lÉ ÉuÆÉÉ¯ ÇÉ¹olop ÊÇ ÇÉ¹oqÉl Ên Êunpá´pá...,No,1
3982,3982,Maurita,O'Kinedy,Female,89,1962-06-02 00:00:00,General Manager,Manufacturing,Mass Customer,N,1,Yes,12
3983,3983,Jarred,Lyste,Male,19,1965-04-21 00:00:00,Graphic Designer,NaN,Mass Customer,N,Ì¦HÍÌ¬Ì¤ÌÌ¤eÍ ÍÌÌ¥ÌÌ»ÍÌwÌhÌÌ¯ÍoÌÍÌÍÌ±Ì® ÒÌºÌÌÌ...,Yes,9
3984,3984,Thadeus,Buxsey,Male,74,1960-02-16 00:00:00,Librarian,Entertainment,Affluent Customer,N,âð¿ ðªð¿ ðð¿ ðð¿ ðð¿ ðð¿,No,10
3985,3985,Caryn,Padbury,Female,44,1998-06-21 00:00:00,Web Developer IV,Property,Mass Customer,N,0/0,No,4
3986,3986,Oralle,Petrello,Female,1,1976-12-01 00:00:00,Social Worker,Health,Mass Customer,N,NaN,No,21
3987,3987,Beckie,Wakeham,Female,18,1964-05-29 00:00:00,NaN,Argiculture,Mass Customer,N,á,No,7
3988,3988,Ammamaria,Ashburne,Female,97,1994-07-14 00:00:00,Automation Specialist IV,Health,Mass Customer,N,â¡,Yes,1
3989,3989,Nicolas,Burdass,Male,75,1999-06-23 00:00:00,Environmental Specialist,Argiculture,Affluent Customer,N,âââ,Yes,1
3990,3990,Reynard,Hagger,Male,99,1998-03-05 00:00:00,Desktop Support Technician,Health,High Net Worth,N,0,No,1
3991,3991,Rolph,Sweetnam,Male,61,1985-08-06 00:00:00,Chief Design Engineer,Manufacturing,Mass Customer,N,"""'",Yes,13
3992,3992,Germain,Tireman,Male,99,1980-04-02 00:00:00,Database Administrator IV,Manufacturing,Affluent Customer,N,"Ø«Ù ÙÙØ³ Ø³ÙØ·Øª ÙØ¨Ø§ÙØªØ­Ø¯ÙØ¯Ø, Ø¬Ø²ÙØ±ØªÙ ...",Yes,18
3993,3993,Andi,Dumelow,Female,6,1974-12-05 00:00:00,Librarian,Entertainment,Mass Customer,N,á,No,10
3994,3994,Stephie,Byars,Female,5,1989-04-07 00:00:00,Structural Analysis Engineer,Manufacturing,Affluent Customer,N,-100,No,12
3995,3995,Rusty,Iapico,Male,93,1975-12-12 00:00:00,Staff Scientist,Manufacturing,Mass Customer,N,á,Yes,14
3996,3996,Rosalia,Halgarth,Female,8,1975-08-09 00:00:00,VP Product Management,Health,Mass Customer,N,-100,No,19
3997,3997,Blanch,Nisuis,Female,87,2001-07-13 00:00:00,Statistician II,Manufacturing,High Net Worth,N,â¦testâ§,Yes,1
3998,3998,Sarene,Woolley,U,60,NaN,Assistant Manager,IT,High Net Worth,N,NaN,No,NaN
3999,3999,Patrizius,NaN,Male,11,1973-10-24 00:00:00,NaN,Manufacturing,Affluent Customer,N,Â¡â¢Â£Â¢âÂ§Â¶â¢ÂªÂºââ,Yes,10
4000,4000,Kippy,Oldland,Male,76,1991-11-05 00:00:00,Software Engineer IV,NaN,Affluent Customer,N,0/0,No,11

In [4]:
(df["gender"].values)

array(['F', 'Male', 'Male', ..., 'U', 'Male', 'Male'], dtype=object)

In [5]:
df.gender.unique()

array(['F', 'Male', 'Female', 'U', 'Femal', 'M'], dtype=object)

In [6]:
df.gender.value_counts()

Female    2037
Male      1872
U           88
Femal        1
M            1
F            1
Name: gender, dtype: int64

# Contain Values like 'F', 'U', 'M', values are not consistent

In [26]:
df['gender'].replace('F', 'Female', inplace=True)
df['gender'].replace('Femal', 'Female', inplace=True)
df['gender'].replace('M', 'Male', inplace=True)
df['gender'].replace('U', 'Not defined', inplace=True)

Female         2039
Male           1873
Not defined      88
Name: gender, dtype: int64

In [28]:
# #now colum contain gender values that are male, female and not defined 
df.gender.value_counts()

Female         2039
Male           1873
Not defined      88
Name: gender, dtype: int64